<html>
  <head>
    <title>GoogleMapAPI お試し</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      #map {
        height: 100%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      .search {
        height:100%;
        text-align:center;
      }
    </style>
  </head>
  <body>
    <div id="map" style="height: 500px; width: 50%; margin: 2rem auto 0;"></div>

    <!--検索窓-->
    <!--<div style="text-align:center;">-->
    <!--  <input type="text" id="keyword">-->
    <!--  <button type="button" id="search">検索</button>-->
    <!--  <a id="init"><span style="color:blue;cursor:pointer;">地図の状態を初期化</span></a>-->
    <!--  <a id="clear"><span style="color:blue;cursor:pointer;">入力内容削除</span></a>-->
    <!--</div>-->

　　<div class="col-md-12" style="text-align:center;">
      <div class="form-group">
        <input type="text" class="col-md-5 form-control" class="form-control" id="keyword">
        <button type="button" id="search" class="btn btn-outline-secondary">検索</button>
      </div>
      <button id="init" class="btn btn-outline-success"><span style="color:blue;cursor:pointer;">地図の状態を初期化</span></a>
      <button id="clear" class="btn btn-outline-info"><span style="color:blue;cursor:pointer;">入力内容削除</span></a>
    </div>
    
    
   <form method="POST" enctype="multipart/form-data" action="databaseInsert.php">
    <!--情報をセット -->
    <div style="text-align:center;flex-direction:column;">
      <div>
       <label>場所</label><input type="text" style="width:200px;" id="place" name="name">
      </div>
      <div>
       <label>地域名</label><input type="text" style="width:200px;" id="region" name="region">
      </div>
      <div>
       <label>都道府県名</label><input type="text" style="width:200px;" id="pref" name="pref">
      </div>
      <div>
       <label>住所</label><input type="text"  style="width:200px;" id="address" name="address">
      </div>
      <input type="submit" value="登録">
    </div>
    <!--情報をセット-->
  </form>

    <!-- jqueryの読み込む -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- google map api -->
    <script src="https://maps.googleapis.com/maps/api/js?key=&libraries=places" async defer></script>
    <script type="text/javascript" src="/js/js-googlemap.search.js" async defer></script>
      </body>
</html>
    
    